@import "./reset.css";

:root {
    --primary-blue: #3a86ff;
    --secondary-blue: #a2d2ff;
    --primary-orange: #FF9900;
    --number-of-lines: 4;
    --number-of-lines-mobile: 5;
}

@media screen and (max-width: 768px) {
    #main {
        &:has(form[data-input-focus='true']) .navBar {
            display: none !important;
        }
    }
    .popout {
        position: absolute;
        top: 4px;
        left: 0;
        padding-inline: 4px;
        z-index: 99;
    }
  }

.btc-search { 
    .sui-layout-sidebar-toggle {
        display: none;
    }
    .sui-layout-body:after {
        display: none;
    }
}

.btc-search .sui-facet-view-more {
  color: red;
}


.paging-info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.paging-info strong {
    text-align: right;
}
.paging-info p {
    margin: 0;
    padding: 4px 0;
}

.home-facet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  position: relative;
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    gap: 10px;
  }
}

.home-facet-tag {
    transform: scale(0.4);
    opacity: 0;
    animation-name: bubble-in;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    -webkit-tap-highlight-color: transparent;
    @media (hover:none) {
        &:hover {
            background-color: auto;
            color: auto;
        }
    }
    @media (pointer:fine) {
        &:hover {
            background-color: var(--chakra-colors-gray-600);
            color: var(--chakra-colors-gray-100);
        }
    }
}

@keyframes bubble-in {
    80% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.landing-gradient {
    background-image: linear-gradient(to bottom, #E58525 0%, #E58525 15%, transparent 80%);
}
