.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  z-index: 99;
  backdrop-filter: blur(10px);
}
.loading-bar {
  margin-top: 2px;
  margin-bottom: 4px;
  position: relative;
  box-shadow: 0 2px 12px 0px #38f3;
  width: 15%;
  // transform: scaleX(0, 0);
  height: 6px;
  border-radius: 2px;
  background-color: var(--chakra-colors-gray-400);
  opacity: 1;
  animation: searching 3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes searching {
  50% {
    background-color: var(--chakra-colors-gray-400);
    // opacity: 0.3;
    width: 90%;
  }
}
