.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chaincode-link {
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  transition: color ease-in 0.2s;
  &:hover {
    color: #ff9900;
  }
}

@media screen and (min-width: 640px) {
  .footer-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .chaincode-link {
    margin-top: 0;
  }
}
