
.chaincode-link {
  font-weight: 500;
  transition: color ease-in 0.2s;

  &:hover {
    color: #ff9900;
  }
}

.sui-paging {
  padding:4px;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0px;

  @media screen and (min-width: 640px) {
    padding: 10px;
    gap: 8px;
  }
  .rc-pagination-previous {
    a {
      color: var(--primary-text);
    }
  }

  li.rc-pagination-item-active.rc-pagination-item {
    background: #F7931A;
    border: none !important;

    a {
      color: white !important;
    }

  }

  li.rc-pagination-item {
    background: transparent;
    width: 16px;
    border: 1px solid var(--stroke);
    display: flex;
 padding: 0px;
    justify-content: center;
    align-items: center;
    margin: 0px 2px 0px 0px;
    @media screen and (min-width: 640px) {
      width: 48px;
      height: 48px;
      padding: 20px;
      border: none;
    }
    &:hover {
      border: 1px solid var(--stroke);

      a {
        color: var(--black)
      }
    }

    a {
      color: var(--primary-text) !important;
      font-size: 0.5rem;
      font-weight: 700;

      @media screen and (min-width: 640px) {
        font-size: 0.875rem;
      }
    }
  }

  // pagination arrows
  li.rc-pagination-prev {
    display: flex;
    width: 16px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 0px 2px 0px 0px;
    border: 1px solid var(--stroke);
    @media screen and (min-width: 640px) {
      width: 48px;
      height: 48px;
      padding: 20px;
      border: none;
    }
    &::after {
      color: var(--black);
      font-size: 0.5rem;
      @media screen and (min-width: 640px) {
      font-size: 14px;
      }
    }

    a {
      color: var(--primary-text);
    }

    &:hover {
      border: 1px solid var(--stroke);

      &:after {
        font-size: 0.5rem;
        @media screen and (min-width: 640px) {
        font-size: 14px;
        }
      }

      a {
        color: var(--black)
      }

    }
  }

  li.rc-pagination-next {
    display: flex;
    align-items: center;
    width: 16px;
    justify-content: center;
    margin: 0px 2px 0px 0px;
    border: 1px solid var(--stroke);
    @media screen and (min-width: 640px) {
      width: 48px;
      height: 48px;
      padding: 20px;
      border: none;
      
    }
    &::after {
      color: var(--black);
      font-size: 0.5rem;
      @media screen and (min-width: 640px) {
      font-size: 14px;
      }

    }

    a {
      color: var(--primary-text);
    }

    &:hover {
      border: 1px solid var(--stroke);

      &:after {
        color: var(--black) !important;
        font-size: 0.5rem;
        @media screen and (min-width: 640px) {
        font-size: 14px;
        }
      }

      a {
        color: var(--black);
      }
    }
  }


  li.rc-pagination-jump-prev {
    font-size: 14px;
    width: 16px;
    order: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px 0px 0px;
    border: 1px solid var(--stroke);
    @media screen and (min-width: 640px) {
      width: 48px;
      height: 48px;
      padding: 20px;
      border: none;
    }
    &::after {
      color: var(--primary-text);
      content: "<<";
      font-size: 0.5rem;
      @media screen and (min-width: 640px) {
      font-size: 14px;
      }
    }

    a {
      color: var(--primary-text);
    }

    &:hover {
      border: 1px solid var(--stroke);

      &:after {
        content: "<<";
        color: var(--primary-text) !important;
        font-size: 0.5rem;
        @media screen and (min-width: 640px) {
        font-size: 14px;
        }
      }

      a {
        color: var(--primary-text);
      }
    }
  }

  li.rc-pagination-jump-next {
    order: 4;
    width: 16px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px 0px 0px;
    border: 1px solid var(--stroke);
    @media screen and (min-width: 640px) {
      width: 48px;
      height: 48px;
      padding: 20px;
      border: none;
    }
    &::after {
      color: var(--primary-text);
      font-size: 10px;
      content: ">>";
    }

    a {
      color: var(--primary-text);
    }

    &:hover {
      border: 1px solid var(--stroke);

      &:after {
        content: ">>";
        color: var(--primary-text) !important;
        font-size: 0.5rem;
        @media screen and (min-width: 640px) {
        font-size: 14px;
        }
      }

      a {
        color: var(--primary-text);
      }
    }
  }
}