
.no-result {
  // position: absolute;
  // top: 50vh;
  // left: 0%;
  // // transform: translate(-50%, -50%);
  margin: 25px auto;
  width: MIN(70%, 600px);
  padding: 10vh 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 20px 2px #0002;
  z-index: 2;

  button {
    background-color: var(--primary-blue);
    width: auto;
    padding: 5px 8px;
    border-radius: 8px;
    color: white;
  }
}
