.no-result {
  margin: 0 auto 25px;
  width: MIN(70%, 600px);
  padding: calc(min(5vh, 40px)) 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 20px 2px #0002;
  z-index: 2;
}
